<div class="text">
  <h1>Stupid Coaching</h1>
  <h2 id="question"> <%= @questions %> </h2>
  <p id="you">-You</p>
  <div id="the-answer">
    <h2 id="answer"> <%= @answer %> </h2>
    <p id="coach">-Your coach</p>
  </div>
  <p><%= link_to "Click to ask another question!", question_path %></p>
</div>
